<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 4 Sprint 3 Assignment 1*

# Recurrent Neural Networks and Long Short Term Memory (LSTM)

![Monkey at a typewriter](https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Chimpanzee_seated_at_typewriter.jpg/603px-Chimpanzee_seated_at_typewriter.jpg)

It is said that [infinite monkeys typing for an infinite amount of time](https://en.wikipedia.org/wiki/Infinite_monkey_theorem) will eventually type, among other things, the complete works of Wiliam Shakespeare. Let's see if we can get there a bit faster, with the power of Recurrent Neural Networks and LSTM.

This text file contains the complete works of Shakespeare: https://www.gutenberg.org/files/100/100-0.txt

Use it as training data for an RNN - you can keep it simple and train character level, and that is suggested as an initial approach.

Then, use that trained RNN to generate Shakespearean-ish text. Your goal - a function that can take, as an argument, the size of text (e.g. number of characters or lines) to generate, and returns generated text of that size.

Note - Shakespeare wrote an awful lot. It's OK, especially initially, to sample/use smaller data and parameters, so you can have a tighter feedback loop when you're trying to get things running. Then, once you've got a proof of concept - start pushing it more!

In [35]:
from tensorflow.keras.callbacks import LambdaCallback, EarlyStopping, TensorBoard
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM

import pandas as pd
import numpy as np
import random
import sys
import requests
import os
import datetime

In [36]:
url = "https://www.gutenberg.org/files/100/100-0.txt"

r = requests.get(url)

In [37]:
r.encoding = r.apparent_encoding

data = r.text

In [38]:
data[20:90]

's The Complete Works of William Shakespeare, by William\r\nShakespeare\r\n'

In [39]:
data = data.split('\r\n')

In [40]:
toc = [l.strip() for l in data[44:130:2]]

In [41]:
# Skip the Table of Contents
data = data[135:]

In [42]:
toc

['ALL’S WELL THAT ENDS WELL',
 'THE TRAGEDY OF ANTONY AND CLEOPATRA',
 'AS YOU LIKE IT',
 'THE COMEDY OF ERRORS',
 'THE TRAGEDY OF CORIOLANUS',
 'CYMBELINE',
 'THE TRAGEDY OF HAMLET, PRINCE OF DENMARK',
 'THE FIRST PART OF KING HENRY THE FOURTH',
 'THE SECOND PART OF KING HENRY THE FOURTH',
 'THE LIFE OF KING HENRY THE FIFTH',
 'THE FIRST PART OF HENRY THE SIXTH',
 'THE SECOND PART OF KING HENRY THE SIXTH',
 'THE THIRD PART OF KING HENRY THE SIXTH',
 'KING HENRY THE EIGHTH',
 'KING JOHN',
 'THE TRAGEDY OF JULIUS CAESAR',
 'THE TRAGEDY OF KING LEAR',
 'LOVE’S LABOUR’S LOST',
 'THE TRAGEDY OF MACBETH',
 'MEASURE FOR MEASURE',
 'THE MERCHANT OF VENICE',
 'THE MERRY WIVES OF WINDSOR',
 'A MIDSUMMER NIGHT’S DREAM',
 'MUCH ADO ABOUT NOTHING',
 'THE TRAGEDY OF OTHELLO, MOOR OF VENICE',
 'PERICLES, PRINCE OF TYRE',
 'KING RICHARD THE SECOND',
 'KING RICHARD THE THIRD',
 'THE TRAGEDY OF ROMEO AND JULIET',
 'THE TAMING OF THE SHREW',
 'THE TEMPEST',
 'THE LIFE OF TIMON OF ATHENS',
 'THE TRAGEDY OF TITUS ANDRONICUS',
 'THE HISTORY OF TROILUS AND CRESSIDA',
 'TWELFTH NIGHT; OR, WHAT YOU WILL',
 'THE TWO GENTLEMEN OF VERONA',
 'THE TWO NOBLE KINSMEN',
 'THE WINTER’S TALE',
 'A LOVER’S COMPLAINT',
 'THE PASSIONATE PILGRIM',
 'THE PHOENIX AND THE TURTLE',
 'THE RAPE OF LUCRECE',
 'VENUS AND ADONIS']

In [43]:
len(toc)

43

In [44]:
# Fixing Titles
toc[9] = 'THE LIFE OF KING HENRY V'
toc[18] = 'MACBETH'
toc[24] = 'OTHELLO, THE MOOR OF VENICE'
toc[34] = 'TWELFTH NIGHT: OR, WHAT YOU WILL'

In [45]:
locations = {
    id_: {
        'title': title, 
        'start': -99,
    } for id_, title in enumerate(toc)}

In [46]:
# Start 
for e, i in enumerate(data):
    for t,title in enumerate(toc):
        if title in i:
            locations[t].update({'start': e})

In [47]:
df_toc = pd.DataFrame.from_dict(locations, orient='index')

In [48]:
df_toc

                                       title   start
0                  ALL’S WELL THAT ENDS WELL    2777
1        THE TRAGEDY OF ANTONY AND CLEOPATRA    7739
2                             AS YOU LIKE IT   11841
3                       THE COMEDY OF ERRORS   14632
4                  THE TRAGEDY OF CORIOLANUS   17833
5                                  CYMBELINE   27807
6   THE TRAGEDY OF HAMLET, PRINCE OF DENMARK   27825
7    THE FIRST PART OF KING HENRY THE FOURTH   34512
8   THE SECOND PART OF KING HENRY THE FOURTH   39228
9                   THE LIFE OF KING HENRY V   42637
10         THE FIRST PART OF HENRY THE SIXTH   47573
11   THE SECOND PART OF KING HENRY THE SIXTH   50844
12    THE THIRD PART OF KING HENRY THE SIXTH   54332
13                     KING HENRY THE EIGHTH   57718
14                                 KING JOHN   64171
15              THE TRAGEDY OF JULIUS CAESAR   64244
16                  THE TRAGEDY OF KING LEAR   68888
17                      LOVE’S LABOUR’S LOST   74924
18                                   MACBETH   81888
19                       MEASURE FOR MEASURE   81988
20                    THE MERCHANT OF VENICE   84988
21                THE MERRY WIVES OF WINDSOR   89156
22                 A MIDSUMMER NIGHT’S DREAM   92115
23                    MUCH ADO ABOUT NOTHING   95575
24               OTHELLO, THE MOOR OF VENICE  101287
25                  PERICLES, PRINCE OF TYRE  107557
26                   KING RICHARD THE SECOND  111700
27                    KING RICHARD THE THIRD  114793
28           THE TRAGEDY OF ROMEO AND JULIET  119201
29                   THE TAMING OF THE SHREW  124457
30                               THE TEMPEST  129331
31               THE LIFE OF TIMON OF ATHENS  133154
32           THE TRAGEDY OF TITUS ANDRONICUS  135870
33       THE HISTORY OF TROILUS AND CRESSIDA  138746
34          TWELFTH NIGHT: OR, WHAT YOU WILL  144909
35               THE TWO GENTLEMEN OF VERONA  149392
36                     THE TWO NOBLE KINSMEN  151804
37                         THE WINTER’S TALE  156992
38                       A LOVER’S COMPLAINT  162007
39                    THE PASSIONATE PILGRIM  162390
40                THE PHOENIX AND THE TURTLE  162630
41                       THE RAPE OF LUCRECE  162724
42                          VENUS AND ADONIS  164943

In [49]:
df_toc['end'] = df_toc['start'].shift(-1).apply(lambda x: x-1)

In [50]:
df_toc.loc[42, 'end'] = len(data)

In [51]:
df_toc.tail()

                         title   start       end
38         A LOVER’S COMPLAINT  162007  162389.0
39      THE PASSIONATE PILGRIM  162390  162629.0
40  THE PHOENIX AND THE TURTLE  162630  162723.0
41         THE RAPE OF LUCRECE  162724  164942.0
42            VENUS AND ADONIS  164943  166768.0

In [52]:
df_toc['text'] = df_toc.apply(lambda x: '\r\n'.join(data[ x['start'] : int(x['end']) ]), axis=1)

In [53]:
df_toc.head()

,title,start,end,text
0,ALL’S WELL THAT ENDS WELL,2777,7738.0,ALL’S WELL THAT ENDS WELL\r\n\r\n\r\n\r\nConte...
1,THE TRAGEDY OF ANTONY AND CLEOPATRA,7739,11840.0,THE TRAGEDY OF ANTONY AND CLEOPATRA\r\n\r\nDRA...
2,AS YOU LIKE IT,11841,14631.0,AS YOU LIKE IT\r\n\r\nDRAMATIS PERSONAE.\r\n\r...
3,THE COMEDY OF ERRORS,14632,17832.0,THE COMEDY OF ERRORS\r\n\r\n\r\n\r\nContents\r...
4,THE TRAGEDY OF CORIOLANUS,17833,27806.0,THE TRAGEDY OF CORIOLANUS\r\n\r\nDramatis Pers...

In [54]:
# divide b/w plays and sonets
sonets = data[:2776]
plays = data[2777:]

In [55]:
data[0]

'THE SONNETS'

In [56]:
def long_lines(lst_ln):
    clean = []
    
    for ln in lst_ln: 
        
        if len(ln) == 0:
            pass
        else:
            pct = len(ln.strip(' ')) / len(ln)

            if pct >= .5:
                clean.append(ln.lstrip())

    return clean

In [57]:
# May Not be Needed
sonets = long_lines(sonets)
plays = long_lines(plays)

## Word Encoding

This is just a start, and is not complete yet.

In [58]:
vocab = list(set("\r\n".join(plays).split()))
words = [line.split() for line in plays]

In [59]:
len(vocab)

75585

## Character Encoding

Using the technique shown in lecture.

In [60]:
text = '\r\n'.join(sonets)

chars = list(set(text))

char_int = {c:i for i,c in enumerate(chars)}
int_char = {i:c for i,c in enumerate(chars)}

print(f"Our corpus contains {len(chars)} unique characters.")

Our corpus contains 63 unique characters.

In [61]:
# Create the Sequence Data

maxlen = 40
step = 5

encoded = [char_int[c] for c in text]

sequences = [] # Each element is 40 characters long
next_chars = [] # One element for each sequence

for i in range(0, len(encoded) - maxlen, step):
    sequences.append(encoded[i : i + maxlen])
    next_chars.append(encoded[i + maxlen])
    
print('sequences:', len(sequences))

sequences: 19160

In [62]:
import numpy as np

# Specify x & y

x = np.zeros((len(sequences), maxlen, len(chars)), dtype=np.bool)
y = np.zeros((len(sequences), len(chars)), dtype=np.bool)

for i, sequence in enumerate(sequences):
    for t, char in enumerate(sequence):
        x[i,t,char] = 1
        
    y[i, next_chars[i]] = 1

In [63]:
x.shape

(19160, 40, 63)

In [64]:
# build the model: a single LSTM

model = Sequential()
model.add(LSTM(128, input_shape=(maxlen, len(chars)), dropout=0.2))
model.add(Dense(len(chars), activation='softmax'))

model.compile(loss='categorical_crossentropy', optimizer='nadam')

In [65]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 128)               98304
_________________________________________________________________
dense_1 (Dense)              (None, 63)                8127
=================================================================
Total params: 106,431
Trainable params: 106,431
Non-trainable params: 0
_________________________________________________________________

In [66]:
def sample(preds):
    # helper function to sample an index from a probability array
    preds = np.asarray(preds).astype('float64')
    preds = np.log(preds) / 1
    exp_preds = np.exp(preds)
    preds = exp_preds / np.sum(exp_preds)
    probas = np.random.multinomial(1, preds, 1)
    return np.argmax(probas)

In [67]:
def on_epoch_end(epoch, _):
    # Function invoked at end of each epoch. Prints generated text.
    
    print()
    print('----- Generating text after Epoch: %d' % epoch)
    
    start_index = random.randint(0, len(text) - maxlen - 1)
    
    generated = ''
    
    sentence = text[start_index: start_index + maxlen]
    generated += sentence
    
    print('----- Generating with seed: "' + sentence + '"')
    sys.stdout.write(generated)
    
    for i in range(400):
        x_pred = np.zeros((1, maxlen, len(chars)))
        for t, char in enumerate(sentence):
            x_pred[0, t, char_int[char]] = 1
            
        preds = model.predict(x_pred, verbose=0)[0]
        next_index = sample(preds)
        next_char = int_char[next_index]
        
        sentence = sentence[1:] + next_char
        
        sys.stdout.write(next_char)
        sys.stdout.flush()
    print()


print_callback = LambdaCallback(on_epoch_end=on_epoch_end)

In [68]:
logdir = os.path.join("logs", datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))
tensorboard_callback = TensorBoard(logdir, histogram_freq=1)

model.fit(
    x, y,
    batch_size=1024,
    validation_split=.2,
    epochs=50,
    callbacks=[
#         print_callback, 
        EarlyStopping(min_delta=.02, monitor='val_loss', patience=10),
        tensorboard_callback,
    ],
)

Epoch 1/50
15/15 [==============================] - 4s 285ms/step - loss: 3.6671 - val_loss: 3.1560
Epoch 2/50
15/15 [==============================] - 4s 260ms/step - loss: 3.1364 - val_loss: 3.1099
Epoch 3/50
15/15 [==============================] - 4s 264ms/step - loss: 3.1152 - val_loss: 3.1004
Epoch 4/50
15/15 [==============================] - 4s 262ms/step - loss: 3.1037 - val_loss: 3.0865
Epoch 5/50
15/15 [==============================] - 4s 264ms/step - loss: 3.0890 - val_loss: 3.0728
Epoch 6/50
15/15 [==============================] - 4s 264ms/step - loss: 3.0745 - val_loss: 3.0551
Epoch 7/50
15/15 [==============================] - 4s 262ms/step - loss: 3.0575 - val_loss: 3.0421
Epoch 8/50
15/15 [==============================] - 4s 261ms/step - loss: 3.0377 - val_loss: 3.0154
Epoch 9/50
15/15 [==============================] - 4s 263ms/step - loss: 3.0147 - val_loss: 2.9904
Epoch 10/50
15/15 [==============================] - 4s 261ms/step - loss: 2.9908 - val_loss: 2.9647
Epoch 11/50
15/15 [==============================] - 4s 260ms/step - loss: 2.9633 - val_loss: 2.9426
Epoch 12/50
15/15 [==============================] - 4s 260ms/step - loss: 2.9316 - val_loss: 2.9069
Epoch 13/50
15/15 [==============================] - 4s 262ms/step - loss: 2.8980 - val_loss: 2.8628
Epoch 14/50
15/15 [==============================] - 4s 262ms/step - loss: 2.8604 - val_loss: 2.8190
Epoch 15/50
15/15 [==============================] - 4s 263ms/step - loss: 2.8159 - val_loss: 2.7688
Epoch 16/50
15/15 [==============================] - 4s 260ms/step - loss: 2.7675 - val_loss: 2.7112
Epoch 17/50
15/15 [==============================] - 4s 262ms/step - loss: 2.7189 - val_loss: 2.6625
Epoch 18/50
15/15 [==============================] - 4s 262ms/step - loss: 2.6769 - val_loss: 2.6132
Epoch 19/50
15/15 [==============================] - 4s 261ms/step - loss: 2.6390 - val_loss: 2.5715
Epoch 20/50
15/15 [==============================] - 4s 260ms/step - loss: 2.5993 - val_loss: 2.5372
Epoch 21/50
15/15 [==============================] - 4s 260ms/step - loss: 2.5689 - val_loss: 2.5044
Epoch 22/50
15/15 [==============================] - 4s 261ms/step - loss: 2.5498 - val_loss: 2.4730
Epoch 23/50
15/15 [==============================] - 4s 262ms/step - loss: 2.5344 - val_loss: 2.4480
Epoch 24/50
15/15 [==============================] - 4s 261ms/step - loss: 2.5062 - val_loss: 2.4261
Epoch 25/50
15/15 [==============================] - 4s 262ms/step - loss: 2.4865 - val_loss: 2.4086
Epoch 26/50
15/15 [==============================] - 4s 263ms/step - loss: 2.4772 - val_loss: 2.3918
Epoch 27/50
15/15 [==============================] - 4s 262ms/step - loss: 2.4527 - val_loss: 2.3732
Epoch 28/50
15/15 [==============================] - 4s 261ms/step - loss: 2.4405 - val_loss: 2.3548
Epoch 29/50
15/15 [==============================] - 4s 262ms/step - loss: 2.4285 - val_loss: 2.3466
Epoch 30/50
15/15 [==============================] - 4s 259ms/step - loss: 2.4244 - val_loss: 2.3354
Epoch 31/50
15/15 [==============================] - 4s 261ms/step - loss: 2.4157 - val_loss: 2.3160
Epoch 32/50
15/15 [==============================] - 4s 261ms/step - loss: 2.3969 - val_loss: 2.3084
Epoch 33/50
15/15 [==============================] - 4s 261ms/step - loss: 2.3926 - val_loss: 2.3023
Epoch 34/50
15/15 [==============================] - 4s 259ms/step - loss: 2.3826 - val_loss: 2.2907
Epoch 35/50
15/15 [==============================] - 4s 262ms/step - loss: 2.3749 - val_loss: 2.2771
Epoch 36/50
15/15 [==============================] - 4s 262ms/step - loss: 2.3672 - val_loss: 2.2734
Epoch 37/50
15/15 [==============================] - 4s 262ms/step - loss: 2.3535 - val_loss: 2.2663
Epoch 38/50
15/15 [==============================] - 4s 263ms/step - loss: 2.3518 - val_loss: 2.2566
Epoch 39/50
15/15 [==============================] - 4s 263ms/step - loss: 2.3454 - val_loss: 2.2454
Epoch 40/50
15/15 [==============================] - 4s 263ms/step - loss: 2.3320 - val_loss: 2.2333
Epoch 41/50
15/15 [==============================] - 4s 262ms/step - loss: 2.3174 - val_loss: 2.2200
Epoch 42/50
15/15 [==============================] - 4s 262ms/step - loss: 2.3189 - val_loss: 2.2074
Epoch 43/50
15/15 [==============================] - 4s 261ms/step - loss: 2.2972 - val_loss: 2.2007
Epoch 44/50
15/15 [==============================] - 4s 263ms/step - loss: 2.2840 - val_loss: 2.1921
Epoch 45/50
15/15 [==============================] - 4s 260ms/step - loss: 2.2719 - val_loss: 2.1815
Epoch 46/50
15/15 [==============================] - 4s 263ms/step - loss: 2.2734 - val_loss: 2.1794
Epoch 47/50
15/15 [==============================] - 4s 259ms/step - loss: 2.2646 - val_loss: 2.1739
Epoch 48/50
15/15 [==============================] - 4s 261ms/step - loss: 2.2575 - val_loss: 2.1669
Epoch 49/50
15/15 [==============================] - 4s 260ms/step - loss: 2.2526 - val_loss: 2.1597
Epoch 50/50
15/15 [==============================] - 4s 258ms/step - loss: 2.2465 - val_loss: 2.1535

In [69]:
%load_ext tensorboard

In [70]:
%tensorboard --logdir logs

# Resources and Stretch Goals

## Stretch goals:
- Refine the training and generation of text to be able to ask for different genres/styles of Shakespearean text (e.g. plays versus sonnets)
- Train a classification model that takes text and returns which work of Shakespeare it is most likely to be from
- Make it more performant! Many possible routes here - lean on Keras, optimize the code, and/or use more resources (AWS, etc.)
- Revisit the news example from class, and improve it - use categories or tags to refine the model/generation, or train a news classifier
- Run on bigger, better data

## Resources:
- [The Unreasonable Effectiveness of Recurrent Neural Networks](https://karpathy.github.io/2015/05/21/rnn-effectiveness/) - a seminal writeup demonstrating a simple but effective character-level NLP RNN
- [Simple NumPy implementation of RNN](https://github.com/JY-Yoon/RNN-Implementation-using-NumPy/blob/master/RNN%20Implementation%20using%20NumPy.ipynb) - Python 3 version of the code from "Unreasonable Effectiveness"
- [TensorFlow RNN Tutorial](https://github.com/tensorflow/models/tree/master/tutorials/rnn) - code for training a RNN on the Penn Tree Bank language dataset
- [4 part tutorial on RNN](http://www.wildml.com/2015/09/recurrent-neural-networks-tutorial-part-1-introduction-to-rnns/) - relates RNN to the vanishing gradient problem, and provides example implementation
- [RNN training tips and tricks](https://github.com/karpathy/char-rnn#tips-and-tricks) - some rules of thumb for parameterizing and training your RNN